*.vs
*.vsconfig
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ---------- Assests + Logs ----------
Library/
Logs/

# ---------- Python / ML / TensorBoard ----------
.venv/
venv/
env/
__pycache__/
*.pyc
.python-version
/Exports/
/BuildOutput/
!*.meta